<div class="offer-promo vpad--xxxxl">
  <div class="offer-promo__bgs">
    <div class="offer-promo__bg" style="background-image: url('{{site.img}}/offer-promo/01.jpg')"></div>
    <div class="offer-promo__bg" style="background-image: url('{{site.img}}/offer-promo/02.jpg')"></div>
    <div class="offer-promo__bg" style="background-image: url('{{site.img}}/offer-promo/03.jpg')"></div>
  </div>
  <div class="offer-promo__content">
    <div class="container">
      <div class="text--center width width--xl">
        <h2 class="title title--xl">Aber das ist noch nicht alles...</h2>
        <p class="text--xxl width width--md">Wir haben noch viele weitere Angebote weltweit – mit bis 70% Vergünstigung</p>
        <div class="space--md"></div>
        <a id="track-btn-current-sales" href="{{site.core-se-link}}" class="btn btn--orange">Alle Angebote sehen</a>
      </div>
    </div>
  </div>
</div>
