// these are the core typeface families

$sans: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
$serif: 'Source Serif Pro', Georgia, serif;
$font-core: 'Open Sans', 'Helvetica Neue', sans-serif;
$font-title-01: 'brother-1816', 'Helvetica Neue', sans-serif;
$font-serif: 'phaistos', serif;
