<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body>

    {% include components/tracking.html %}

    {% include page/header.html %}

    {% include page/banner.html %}

    <div class="vpad--xxl bg--bv-lightgrey ">
      <div class="container">
        <div class="width width--lg">

          <div class="text text--xxl text--serif text--justify"><p>{{page.intro}}</p></div>
        </div>
      </div>
    </div>


        <div class="content-spacing section-spacing">
          <!-- loops through section file for page content -->
          {% for section in site.data.sections %}

                <div id="{{section.id}}"  class="bv-section-bg js-nav-section">
                  <div class="bv-parallax vpad--xl "  style="background-image: url('{{site.img}}/content/{{section.id}}/hero.jpg'); {{section.bg-pos}}">
                    <div class="container text--white">
                      <div class="space--xxxl"></div>
                        <div class="row row--justify row--xl-4-4-4 row--gutters ">
                          <div class="col--xl-7 boxpad--xl text--xxl text--normal">
                          <div class="title title--xl text--serif text--bold ">{{section.title}}</div>
                          <div class="space--sm "></div>
                          <p>{{section.description}}</p>
                          <div class="space--xxl"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bg--white" >
                  <div class="container vpad--lg">
                      <div class="row row--xl-4-4-4 row--lg-6-6 row--gutters " >
                        {% for poi in section.pois.items %}
                        <div class="col text--normal text text--xl text--justify">
                          <div class="bg-img bg--white bg-img--4-3" style="background-image:url({{site.img}}/content/{{section.id}}/{{poi.img}}.jpg);"> </div>
                          <div class="space--md"></div>
                          <h5 class="title title--xs text--left text--bold ">{{poi.title}}</h5>
                          <div class="space--xs"></div>
                          <div>{{poi.description}}</div>
                        </div>
                        {% endfor %}
                      </div>
                      <div class="space--xxl"></div>
                  </div>
                </div>


          {% endfor %}


  </div>

          <!-- Offers section -->
      <div class="bg--light">
        <div class="container vpad--lg ">
          <div id="offers" class="js-nav-section">
            <div class="space--xl"></div>
            <div class="title text--serif title--xl text--center">Angebote</div>
            <div class="space--xs"></div>
          </div>
      </div>

    {% include offer/all-offers.html %}
      <div class="space--xxxl"></div>
    {% include page/promo-offers.html %}
        </div>

    {% include page/footer.html %}


    <script src="{{site.js}}/main.js"></script>

  </body>

</html>
